body {
    background-color: palegreen;
}
br {
    width:10px;
}
label {
    color:blueviolet;
}
#camera,#result {
    width:360px;
    height:250px;
    background-color:black;
    background-size:cover;
    border-color:red;
    border-width:5;
    border-style: inset;
    border-radius:10px;
}

